.container
  .expectancy-area
    header
      h1 {{ 'EXPECTANCY_INTRO' | translate }}
    .toolbar
        .country-selection
          .typeahead.ref
            input(
            placeholder="{{ 'LOCAL_COUNTRY' | translate }}"
            type="text"
            ng-model="currentCountry"
            uib-typeahead="country.value as country.label for country in countriesList($viewValue)"
            typeahead-wait-ms="100"
            typeahead-editable="false"
            )
          .icon.icon-vs
          .typeahead.rel
            input(
            placeholder="{{ 'LOCAL_COUNTRY' | translate }}"
            type="text"
            ng-model="referenceCountry"
            uib-typeahead="country.value as country.label for country in countriesList($viewValue)"
            typeahead-wait-ms="100"
            typeahead-editable="false"
            )
        .time-slider
          time-slider

    expectancy-map(country="currentCountry", reference="referenceCountry", width="1200" height="500")
