.container
  .expectancy-area
    header
      h1 {{ 'EXPECTANCY_INTRO' | translate }}
    .toolbar
        .country-selection
          .typeahead.ref
            input(
            placeholder="{{ 'LOCAL_COUNTRY' | translate }}"
            type="text"
            ng-model="selectedCountryRef"
            uib-typeahead="country.value as country.label for country in countriesList($viewValue)"
            typeahead-wait-ms="100"
            typeahead-editable="false"
            )
          .icon.icon-vs
          .typeahead.rel
            input(
            placeholder="{{ 'LOCAL_COUNTRY' | translate }}"
            type="text"
            ng-model="selectedCountryRel"
            uib-typeahead="country.value as country.label for country in countriesList($viewValue)"
            typeahead-wait-ms="100"
            typeahead-editable="false"
            )
        .time-slider
          time-slider

    expectancy-map(country-ref="activeCountryRef", country-rel="activeCountryRel")
