world-clock
    h3 <i class="icon icon-world"> </i> <p translate="HOME_WORLD_CLOCK" />
.container
    .home-area
        .question
            h1 {{ 'HOME_TEXT_BIG' | translate }}
            p(compile-unsafe="'HOME_TEXT_SMALL' | translate")
            form.form-inline(name="goForm", ng-class="{'highlight':highlightErrors, 'highlight-extra':highlightExtra}", autocomplete="off")
                .typeahead
                    input.day-field.form-control(
                    placeholder="{{ 'LOCAL_DAY' | translate }}"
                    type="text"
                    ng-model="profile.birthday.day"
                    required
                    validate-day
                    )
                .typeahead
                    input.month-field.form-control(
                    placeholder="{{ 'LOCAL_MONTH' | translate }}"
                    type="text"
                    ng-model="profile.birthday.month"
                    uib-typeahead="month.value as month.label for month in months | filter: { label: $viewValue }"
                    typeahead-min-length="0"
                    required
                    validate-month
                    )
                .typeahead
                    input.year-field.form-control(
                    placeholder="{{ 'LOCAL_YEAR' | translate }}"
                    type="text"
                    ng-model="profile.birthday.year"
                    required
                    validate-year
                    )
                .typeahead.icon-country
                    input.form-control(
                    placeholder="{{ 'LOCAL_COUNTRY' | translate }}"
                    type="text"
                    ng-model="profile.country"
                    uib-typeahead="country.value as country.label for country in countriesList($viewValue)"
                    required
                    validate-country
                    country-translate
                    )
                .toggle
                    label.icon.icon-female(ng-model="profile.gender" uib-btn-radio="'female'", required) {{ 'LOCAL_FEMALE' | translate }}
                    label.icon.icon-male(ng-model="profile.gender" uib-btn-radio="'male'", required) {{ 'LOCAL_MALE' | translate }}
                a.btn.btn-big(ng-click="goGoGadget()", ng-disabled="loading", ng-class='{inactive:goForm.$invalid, loading:loading}') <span class="fa fa-refresh"></span>
