header
    .container
        .logo
            a(ng-click="showHomepage()")
                span.title Population.io
                span.subtitle(ng-bind="pageHeader.title") The World Population Project
                span.icon-alpha
        .loader.fa.fa-refresh(ng-class="{'active': loading}")

        form.change-language
            label
                select(ng-model="activeLangKey" ng-init="activeLangKey" ng-change="changeLanguage(activeLangKey)")
                    option(value="EN") English
                    option(value="ES") Español
                    option(value="FR") Français
                    option(value="DE") Deutsch
                    option(value="ZH") 汉语
                    option(value="ID") Bahasa Indonesia
                    option(value="RU") русский
        ul.link-list
            li
                a(ng-click="showAbout()" ng-bind="pageHeader.menuAbout") About
                a(ng-click="showMethodology()" ng-bind="pageHeader.menuMethodology") Methodology
                a(ng-click="showDevelopers()" ng-bind="pageHeader.menuApi") API

        .profile.animate(
        ng-show="currentPage > 0"
        ng-click="showHomepage()"
        ng-cloak
        ) {{ profile.getFormattedBirthday() | date:'dd MMM yyyy' }}, {{ profile.country | translate }}
        .world-population.animate(ng-show="currentPage > 0", ng-cloak)
            span(ng-show="clockType === 'personal'") {{rankGlobal | number:0}}
            span(ng-show="clockType === 'world'") {{worldPopulation | number:0}}
            .toggle
                label(
                ng-class="{'icon-gender icon-female': profile.gender === 'female', 'icon-male icon-gender': profile.gender === 'male'}"
                ng-model="clockType",
                uib-btn-radio="'personal'"
                )
                label(class="icon-world", ng-model="clockType", uib-btn-radio="'world'")
